* {
  box-sizing: border-box;
}

column {
  float: left;
  width: 33.3%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* general stuff */


body, p{
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #D0EEEE;
	margin-bottom: 60px;
}

.cardbody {
	background-color: #e0e0e0;
}


.navbar-toggler:active, .navbar-toggler:focus {
		outline: none !important;
		box-shadow: none !important;
}

.bgheader {
	background-color: #f0c9e8;
	color: black;
	padding: 0px;
}
html {
	scroll-behavior: smooth;
}


/* nav bar */

.navbar {
	box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
}

.nav-item {
	padding: .4rem;
}

/* aida please learn how to webdev properly */

.class-image {
	width: 100%;
	position: relative;
}

.link:hover {
    cursor: pointer;
}

/* pet images slider */

.carousel-inner {
	max-height: 40rem!important;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
	transition: transform 1.8s ease;
}


/* classes used to bold/colour/etc text */ 
.boldtitle { 
	font-weight: 700;
	font-size: 18px;
}

.boldtitlelarge { 
	font-weight: 700;
	font-size: 22px;
}

.boldtitlemedium {
	font-weight: 700;
	font-size: 18px;
}

.highlight {
	color: #741b47;
	font-weight: 600;
}

.highlightintro {
	color: #335699;
	font-weight: 600;
}

/* highlight links black */

.underline {
	text-decoration: underline;
}

.boldtitlesmall{ 
	font-weight: 700;
	font-size: 16px;
}

.indent {
	text-indent: 12%;
}

.semibold { 
	font-weight: 600;
}

/* stuff for images and centering. */

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
}

.w-smaller {
	width: 22px;
}

.wfuck {
	width: 1px;
	height: 22px;
}

.yeah {
    height: 35rem;
    overflow-y: scroll;
}


/* loading bar for introduction */

.barintro {
	background-color: #4874C0;
}


/* Footer */

.footer {
	position: absolute;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
	bottom: 0;
}